<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users List</title>
    <!-- Meta -->
    <th:block th:replace="/head/meta :: meta"/>

    <!-- App favicon -->
    <th:block th:replace="/head/app-favicon :: app-favicon"/>

    <!-- DataTables -->
    <th:block th:replace="/head/data-tables :: data-tables"/>

    <!-- Responsive datatable examples -->
    <th:block th:replace="/head/responsive-datatable-examples :: responsive-datatable-examples"/>

    <!-- Main -->
    <th:block th:replace="/head/main :: main"/>

</head>

<body data-sidebar="dark">

<!-- Begin page -->
    <div id="layout-wrapper">
        <th:block th:replace="/layout/page-topbar :: page-topbar"/>

        <div class="vertical-menu">

            <div data-simplebar="" class="h-100">

                <!--- Sidemenu -->
                <th:block th:replace="/layout/sidebar-menu :: sidebar-menu"/>

                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!--start page title-->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">Users List</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">User</a></li>
                                        <li class="breadcrumb-item active">List</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--end page title-->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row mb-2">
                                        <div class="col-sm-4">
                                            <div class="search-box mr-2 mb-2 d-inline-block">
                                                <div class="position-relative">
                                                    <form>
                                                        <div class="row">

                                                            <div class="col-sm-7">
                                                                <input type="text" name="search" value=""
                                                                       class="form-control mb-3" placeholder="Search...">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <button type="submit"
                                                                        class="btn btn-outline-primary mr-1 waves-effect waves-light">
                                                                    Search
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="text-sm-right">
                                                <button id="btnShowCreateModal" type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2">
                                                    <i class="mdi mdi-plus mr-1"></i>
                                                    Add New User
                                                </button>
                                            </div>
                                        </div>
                                        <!-- end col-->
                                    </div>
                                    <div class="table-responsive">
                                        <table id="tbListUsers" class="table table-centered table-nowrap table-hover"
                                               role="grid" aria-describedby="datatable_info">

                                            <thead class="thead-light">
                                            <tr>
                                                <th>#</th>
                                                <th scope="col"></th>
                                                <th scope="col">Full Name</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Phone</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <!-- <th:block th:replace="/layout/footer :: footer"/> -->

        </div>
        <!-- end main content-->

        <footer class="footer"></footer>

    </div>

    <th:block th:replace="/user/footer :: footer" />
    <th:block th:replace="/user/modal_create :: modal_create" />
    <th:block th:replace="/user/modal_detail :: modal_detail" />
    <th:block th:replace="/user/modal_update :: modal_update" />
    <th:block th:replace="/user/modal_change_password :: modal_change_password" />


    <!-- END layout-wrapper -->

    <!-- JAVASCRIPT -->
    <th:block th:replace="/script/javascript :: javascript"/>


    <!-- Required datatable js -->
    <th:block th:replace="/script/required-datatable-js :: required-datatable-js"/>

    <!-- Buttons examples -->
    <th:block th:replace="/script/buttons-examples :: buttons-examples"/>

    <!-- Responsive examples -->
    <th:block th:replace="/script/responsive-examples :: responsive-examples"/>

    <!-- Datatable init js -->
    <th:block th:replace="/script/datatable-init-js :: datatable-init-js"/>
    <!-- App js -->
    <th:block th:replace="/script/app-js :: app-js"/>

    <script>
        $(document).ready(function() {
            $(document).ready(function() {
                $(".show_hide_password a").on('click', function(event) {
                    event.preventDefault();
                    if($('.show_hide_password input').attr("type") == "text"){
                        $('.show_hide_password input').attr('type', 'password');
                        $('.show_hide_password i').addClass( "fa-eye-slash" );
                        $('.show_hide_password i').removeClass( "fa-eye" );
                    }else if($('.show_hide_password input').attr("type") == "password"){
                        $('.show_hide_password input').attr('type', 'text');
                        $('.show_hide_password i').removeClass( "fa-eye-slash" );
                        $('.show_hide_password i').addClass( "fa-eye" );
                    }
                });
            });
        });

        // $( document ).ready(function() {
        //     document.querySelector(".dataTables_filter").style.display = 'none';
        // });

        let page = {
            url: {
                getAllProvinces: App.GET_PROVINCES + "/",
                getAllDistricts: App.GET_PROVINCES + "/district/",
                getAllWards: App.GET_PROVINCES + "/ward/",

                getAllUsers: App.BASER_URL + "/users",
                getUserById: App.BASER_URL + "/users/",
                getAllRoles: App.BASER_URL + "/roles",

                saveNew: App.BASER_URL + "/users/create",
                saveUpdate: App.BASER_URL + "/users/update",
                suspended: App.BASER_URL + "/users/suspended/"

            },
            elements: {
                role: {},
                userInfo: {
                    locationRegion: {}
                },

            },
            loadData: {},
            commands: {},
            dialogs: {
                elements: {},
                commands: {},
                alertDanger: {}
            },

            initializeControlEvent: {}
        }

        page.elements.footer = $(".footer");

        page.elements.modalCreate = $('#mdCreate');
        page.elements.modalUpdate = $('#mdUpdate');
        page.elements.modalDetail = $('#mdDetail');
        page.elements.modalChangePwd = $('#mdChangePwd');


        page.elements.btnShowCreateModal = $('#btnShowCreateModal');
        page.elements.btnShowUpdateModal = $('.footer button.update');
        page.elements.btnShowDetailModal = $('.footer button.detail');
        page.elements.btnShowChangePwdModal = $('.footer button.change-password');
        page.elements.btnShowSuspendedModal = $('.footer button.suspended');


        page.elements.btnCreate = $('#btnCreate');
        page.elements.btnUpdate = $('#btnUpdate');
        page.elements.btnChangePwd = $('#btnChangePwd');

        page.elements.frmCreate = $('#frmCreate');
        page.elements.frmUpdate = $('#frmUpdate');
        page.elements.frmChangePassword = $('#frmChangePassword');


        page.elements.fullName = $('#fullName');
        page.elements.email = $('#email');
        page.elements.role = $('#role');
        page.elements.password = $('#password');
        page.elements.phone = $('#phone');
        page.elements.province = $('#province');
        page.elements.district = $('#district');
        page.elements.ward = $('#ward');
        page.elements.address = $('#address');
        page.elements.urlImage = $('#urlImage');


        page.elements.fullNameUp = $('#fullNameUp');
        page.elements.emailUp = $('#emailUp');
        page.elements.roleUp = $('#roleUp');
        page.elements.phoneUp = $('#phoneUp');
        page.elements.provinceUp = $('#provinceUp');
        page.elements.districtUp = $('#districtUp');
        page.elements.wardUp = $('#wardUp');
        page.elements.addressUp = $('#addressUp');
        page.elements.urlImageUp = $('#urlImageUp');
        page.elements.activeUp = $('#activeUp');

        page.elements.fullNameDet = $('#fullNameDet');
        page.elements.phoneDet = $('#phoneDet');
        page.elements.emailDet = $('#emailDet');
        page.elements.roleDet = $('#roleDet');
        page.elements.provinceDet = $('#provinceDet');
        page.elements.districtDet = $('#districtDet');
        page.elements.wardDet = $('#wardDet');
        page.elements.addressDet = $('#addressDet');
        page.elements.createdAtDet = $('#createdAtDet');
        page.elements.createdByDet = $('#createdByDet');
        page.elements.updatedAtDet = $('#updatedAtDet');
        page.elements.updatedByDet = $('#updatedByDet');
        page.elements.activeDet = $('#activeDet');
        page.elements.urlImageDet = $('#urlImageDet');

        page.dialogs.alertDanger.modalCreate = $("#mdCreate .modal-alert-danger");
        page.dialogs.alertDanger.modalUpdate = $("#mdUpdate .modal-alert-danger");
        page.dialogs.alertDanger.mdChangePwd = $("#mdChangePwd .modal-alert-danger");

        let user = new User();
        let userInfo = new UserInfo();
        let locationRegion = new LocationRegion();
        let role = new Role();
        let users = [];
        let userId;

        page.commands.addRowUser = () =>{
            let str = App.getTempRowUser(user);
            $('#tbListUsers tbody').prepend(str);
        }

        page.commands.replaceRowUser = () =>{
            let str = App.getTempRowUser(user);
            $('#tr_' + user.id).replaceWith(str);
        }

        page.commands.clickRowUser = () => {
            $("#tbListUsers tbody tr").on("click", function () {
                userId = $(this).attr('id').replace('tr_', '');

                $('#tbListUsers tbody tr td span.select-tab').removeClass("selected").addClass("unselected");
                $(`#tbListUsers tbody tr#tr_${userId} td span.select-tab`).removeClass("unselected").addClass("selected");

                let tempFooter = $.validator.format($.trim($('#tempFooter').val().toString()));

                $('.footer').html(tempFooter);

                page.commands.unbindAll();
            });
        }

        page.loadData.loadUsers = () => {
            return $.ajax({
                "headers": {
                    "accept" : "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": page.url.getAllUsers
            })
            .done((data) => {
                $('#tbListUsers tbody').html('');

                $.each(data, (i, item) => {
                    user = item;
                    page.commands.addRowUser();
                })
            })
        }

        page.commands.unbindAll = () => {
            $('.update').off();
            $('.detail').off();
            $('.change-password').off();
            $('.suspended').off();
        }

        page.commands.handleShowCreateModal = () => {
            page.dialogs.alertDanger.modalCreate.html("").removeClass("show").addClass("hide");

            page.elements.modalCreate.modal('show');
        }

        page.commands.handleShowUpdateModal = () => {
            page.dialogs.alertDanger.modalUpdate.html("").removeClass("show").addClass("hide");

            $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": page.url.getUserById + userId,
            })
            .done((data) => {
                user = data;

                page.elements.fullNameUp.val(user.userInfo.fullName);
                page.elements.emailUp.val(user.email);
                page.elements.roleUp.val(user.role.id);
                page.elements.phoneUp.val(user.userInfo.phone);
                // page.elements.urlImageUp.val(user.userInfo.urlImage);
                page.elements.activeUp.val(user.activated.toString());

                page.elements.addressUp.val(user.userInfo.locationRegion.address);
                page.elements.provinceUp.val(user.userInfo.locationRegion.provinceId);
                page.elements.districtUp.empty();

                page.commands.drawDistricts(user.userInfo.locationRegion.provinceId).then(function () {
                    page.elements.districtUp.val(user.userInfo.locationRegion.districtId);
                    page.elements.wardUp.empty();

                    page.commands.drawWards(user.userInfo.locationRegion.districtId).then(function (){
                        page.elements.wardUp.val(user.userInfo.locationRegion.wardId);
                    });
                });
            })

            page.elements.modalUpdate.modal('show');
        }

        page.commands.handleShowDetailModal = () => {
            $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": page.url.getUserById + userId,
            })
            .done((data) => {
                user = data;
                console.log(data);

                page.elements.fullNameDet.text(user.userInfo.fullName);
                page.elements.phoneDet.text(user.userInfo.phone);
                page.elements.emailDet.text(user.email);
                page.elements.roleDet.text(user.role.name);
                page.elements.provinceDet.text(user.userInfo.locationRegion.provinceName);
                page.elements.districtDet.text(user.userInfo.locationRegion.districtName);
                page.elements.wardDet.text(user.userInfo.locationRegion.wardName);
                page.elements.addressDet.text(user.userInfo.locationRegion.address);
                page.elements.createdAtDet.text(user.createdAt);
                page.elements.createdByDet.text(user.createdBy);
                page.elements.updatedAtDet.text(user.updatedAt);
                page.elements.updatedByDet.text(user.updatedBy);
                page.elements.activeDet.text(user.activated === true ? "Active" : "Block");
                // page.elements.urlImageDet.val(user.userInfo.urlImage);
            })

            page.elements.modalDetail.modal('show');
        }

        page.commands.handleShowSuspendedConfirm = () => {
            App.SweetAleart.showSuspendedConfirmAlert()
            .then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        "type": "POST",
                        "headers": {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        "url": page.url.suspended + userId

                    }).done( () => {
                        App.SweetAleart.showSuccessAlert(App.SUCCESS_SUSPEND);
                        $("#tr_" + userId).remove();

                    }).fail( () => {
                        App.SweetAleart.showErrorAlert("Suspended failed");
                    });
                }
            })
        }

        page.commands.doCreate = () => {
            locationRegion.provinceId = page.elements.province.val();
            locationRegion.provinceName = page.elements.province.find(":selected").text();
            locationRegion.districtId = page.elements.district.val();
            locationRegion.districtName = page.elements.district.find(":selected").text();
            locationRegion.wardId = page.elements.ward.val();
            locationRegion.wardName = page.elements.ward.find(":selected").text();
            locationRegion.address = page.elements.address.val();

            userInfo.fullName = page.elements.fullName.val();
            userInfo.phone = page.elements.phone.val();
            userInfo.urlImage = "avatar-not-found.png";
            userInfo.locationRegion = locationRegion;

            role.id = page.elements.role.val();

            user.email = page.elements.email.val();
            user.password = page.elements.password.val();
            user.userInfo = userInfo;
            user.role = role;

            $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "POST",
                "url": page.url.saveNew,
                "data": JSON.stringify(user)
            })
            .done((item) => {
                user = item;

                page.commands.addRowUser();

                page.elements.modalCreate.modal('hide');
                App.SweetAleart.showSuccessAlert(App.SUCCESS_CREATED);

                page.commands.clickRowUser();
                page.commands.unbindAll();
            })
            .fail((jqxHR) => {
                console.log(jqxHR)
                page.dialogs.alertDanger.modalCreate.html("").removeClass("hide").addClass("show");

                if (jqxHR.status === 401) {
                    let msg = App.ERROR_401;
                    str = `<label id="message-error" class="error" for="message">${msg}</label>`

                    page.dialogs.alertDanger.modalCreate.append(str);
                } else {
                    if (jqxHR.status === 403) {
                        let msg = App.ERROR_403;
                        str = `<label id="message-error" class="error" for="message">${msg}</label>`

                        page.dialogs.alertDanger.modalCreate.append(str);
                    } else {
                        let str = "";

                        if (jqxHR.responseJSON.message) {
                            let msg = jqxHR.responseJSON.message;

                            str = `<label id="message-error" class="error" for="message">${msg}</label>`

                            page.dialogs.alertDanger.modalCreate.append(str);
                        }else if (jqxHR.responseJSON){
                            $.each(jqxHR.responseJSON, (key, item) => {
                                str = `<label id="message-error" class="error" for="${key}">${item}</label>`
                                page.dialogs.alertDanger.modalCreate.append(str);
                            })
                        }
                    }
                }
            })

        }

        page.commands.doUpdate = () => {
            locationRegion.provinceId = page.elements.provinceUp.val();
            locationRegion.provinceName = page.elements.provinceUp.find(":selected").text();
            locationRegion.districtId = page.elements.districtUp.val();
            locationRegion.districtName = page.elements.districtUp.find(":selected").text();
            locationRegion.wardId = page.elements.wardUp.val();
            locationRegion.wardName = page.elements.wardUp.find(":selected").text();
            locationRegion.address = page.elements.addressUp.val();

            userInfo.fullName = page.elements.fullNameUp.val();
            userInfo.phone = page.elements.phoneUp.val();
            userInfo.urlImage = "avatar-not-found.png";
            userInfo.locationRegion = locationRegion;

            role.id = page.elements.roleUp.val();

            user.email = page.elements.emailUp.val();
            user.activated = page.elements.activeUp.val();

            if (user.activated !== "true" && user.activated !== "false"){
                // page.dialogs.alertDanger.modalUpdate.html("").removeClass("hide").addClass("show");
                // let str = `<label id="message-error" class="error" for="message">Active is not define</label>`
                // page.dialogs.alertDanger.modalUpdate.append(str);
                // return;

                return App.SweetAleart.showErrorAlert("Active is not define");
            }

            user.userInfo = userInfo;
            user.role = role;

            $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "POST",
                "url": page.url.saveUpdate,
                "data": JSON.stringify(user)
            })
            .done((item) => {
                user = item;
                console.log(user)

                page.commands.replaceRowUser();

                page.elements.modalUpdate.modal('hide');
                App.SweetAleart.showSuccessAlert(App.SUCCESS_UPDATED);

                page.commands.clickRowProduct();
                page.commands.unbindAll();
            })
            .fail((jqxHR) => {
                console.log(jqxHR)
                page.dialogs.alertDanger.modalUpdate.html("").removeClass("hide").addClass("show");

                if (jqxHR.status === 401) {
                    let msg = App.ERROR_401;
                    str = `<label id="message-error" class="error" for="message">${msg}</label>`

                    page.dialogs.alertDanger.modalUpdate.append(str);
                } else {

                    if (jqxHR.status === 403) {
                        let msg = App.ERROR_403;
                        str = `<label id="message-error" class="error" for="message">${msg}</label>`

                        page.dialogs.alertDanger.modalUpdate.append(str);
                    } else {
                        let str = "";

                        if (jqxHR.responseJSON.message) {
                            let msg = jqxHR.responseJSON.message;

                            str = `<label id="message-error" class="error" for="message">${msg}</label>`

                            page.dialogs.alertDanger.modalUpdate.append(str);
                        }else if (jqxHR.responseJSON){
                            $.each(jqxHR.responseJSON, (key, item) => {
                                str = `<label id="message-error" class="error" for="${key}">${item}</label>`
                                page.dialogs.alertDanger.modalUpdate.append(str);
                            })
                        }
                    }
                }
            })
        }

        page.commands.drawRoles = () => {
            return $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": page.url.getAllRoles
            })
            .done((data) => {
                $.each(data, (i, item) => {
                    let str = `<option value="${item.id}">${item.name} (${item.code})</option>`;

                    page.elements.role.append(str);
                    page.elements.roleUp.append(str);
                })
            })
            .fail((jqxHR) => {
                console.log(jqxHR);
            })
        }

        page.commands.drawProvinces = () => {
            return $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": page.url.getAllProvinces
            })
                .done((data) => {
                    $.each(data.results, (i, item) => {
                        let str = `<option value="${item.province_id}">${item.province_name}</option>`;

                        page.elements.province.append(str);
                        page.elements.provinceUp.append(str);
                    })
                })
                .fail((jqxHR) => {
                    console.log(jqxHR);
                })
        }

        page.commands.drawDistricts = (provinceId) => {
            return $.ajax({
                "headers": {
                    accept: "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": page.url.getAllDistricts + provinceId
            })
                .done((data) => {

                    if (data.results.length === 0) {
                        App.IziToast.showErrorAlert("Loading of districts is fail");
                    }else {
                        $.each(data.results, (i, item) => {
                            let str = `<option value="${item.district_id}">${item.district_name}</option>`;

                            page.elements.district.append(str)
                            page.elements.districtUp.append(str)
                        })
                    }
                })
        }

        page.commands.drawWards = (districtId) => {
            return $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": page.url.getAllWards + districtId

            })
                .done((data) => {
                    if (data.results.length === 0) {
                        App.IziToast.showErrorAlert("Loading of wards is fail");
                    }else {
                        $.each(data.results, (i, item) => {
                            let str = `<option value="${item.ward_id}">${item.ward_name}</option>`;

                            page.elements.ward.append(str)
                            page.elements.wardUp.append(str)
                        })
                    }
                })
        }

        page.dialogs.commands.provinceChange = () => {
            return $.ajax({
                "type": "GET",
                "url": page.url.getAllDistricts + locationRegion.provinceId
            }).done((data) => {
                page.elements.district.empty();
                page.elements.districtUp.empty();

                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.district_id}">${item.district_name}</option>`;

                    page.elements.district.append(str);
                    page.elements.districtUp.append(str);
                });
            }).fail(function () {
                App.IziToast.showErrorAlert("Loading of districts is fail");
            });
        }

        page.dialogs.commands.districtChange = () => {
            $.ajax({
                "type": "GET",
                "url": page.url.getAllWards + locationRegion.districtId

            }).done((data) => {
                page.elements.ward.empty();
                page.elements.wardUp.empty();

                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.ward_id}">${item.ward_name}</option>`;

                    page.elements.ward.append(str);
                    page.elements.wardUp.append(str);
                });
            }).fail(function () {
                App.IziToast.showErrorAlert("Loading of wards is fail");
            });
        }

        page.initializeControlEvent = () => {
            page.elements.province.on('change', function () {
                locationRegion.provinceId = page.elements.province.val();

                page.dialogs.commands.provinceChange().done(function () {
                    locationRegion.districtId = page.elements.district.prop("selectedIndex", 0).val();
                    page.dialogs.commands.districtChange();
                })
            })

            page.elements.district.on('change', function () {
                locationRegion.districtId = page.elements.district.val();
                page.dialogs.commands.districtChange();
            })

            page.elements.provinceUp.on('change', function () {
                locationRegion.provinceId = page.elements.provinceUp.val();

                page.dialogs.commands.provinceChange().done(function () {
                    locationRegion.districtId = page.elements.districtUp.prop("selectedIndex", 0).val();
                    page.dialogs.commands.districtChange();
                })
            })

            page.elements.districtUp.on('change', function () {
                locationRegion.districtId = page.elements.districtUp.val();
                page.dialogs.commands.districtChange();
            })

            page.elements.btnShowCreateModal.on('click', () => {
                page.commands.handleShowCreateModal();
            })

            page.elements.footer.on('click', 'button.update', () => {
                page.commands.handleShowUpdateModal();
            })

            page.elements.footer.on('click', 'button.detail', () => {
                page.commands.handleShowDetailModal();
            })

            page.elements.footer.on('click', 'button.change-password', () => {
                page.elements.modalChangePwd.modal('show');
            })

            page.elements.footer.on('click', 'button.suspended', () => {
                page.commands.handleShowSuspendedConfirm();
            })

            page.elements.btnCreate.on('click', () => {
                // page.elements.frmCreate.submit();
                page.commands.doCreate();
            })

            page.elements.btnUpdate.on('click', () => {
                // page.elements.frmUpdate.submit();
                page.commands.doUpdate();
            })



        }

        $(function () {
            // $(".dataTables_filter").style.display = 'none';

            page.loadData.loadUsers().then(function (){
                page.commands.clickRowUser();
            })

            page.commands.drawRoles();

            page.commands.drawProvinces().then(function (){
                let provinceId = page.elements.province.prop("selectedIndex", 0).val();

                if (provinceId != null) {
                    page.commands.drawDistricts(provinceId).then(function (){
                        let districtId = page.elements.district.prop("selectedIndex", 0).val();

                        if (districtId != null){
                            page.commands.drawWards(districtId);
                        }
                    })
                }
            });

            page.initializeControlEvent();
        })

    </script>

</body>


</html>


<!--$('tbody tr#tr_1').on('click', () => {-->
<!--$('#tempFooter').addClass('show')-->
<!--$('table td span.select-tab').removeClass('selected').addClass('unselected')-->
<!--$('table tr#tr_1 td span.select-tab').removeClass('unselected').addClass('selected')-->
<!--})-->

<!--$('#btnShowCreateModal').on('click', () =>{-->
<!--$('#mdCreate').modal('show');-->
<!--})-->

<!--$('button.edit').on('click', () => {-->
<!--$('#mdUpdate').modal('show')-->
<!--})-->

<!--$('button.detail').on('click', () => {-->
<!--$('#mdDetail').modal('show')-->
<!--})-->

<!--$('button.change-password').on('click', () => {-->
<!--$('#mdChangePassword').modal('show')-->
<!--})-->


<!--$('.footer button.suspended').on('click', () => {-->

<!--})-->




