<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="modal_change_password">
  <div id="mdChangePwd" class="modal fade " data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title">User information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal-alert-danger hide"></div>
          <form id="frmChangePassword" method="post">
            <fieldset class="row g-3">
              <div class="col-md-12">
                <label class="form-label">Email</label>
                <p class="form-control" id="emailChangePwd" name="emailChangePwd">phucthinh2609</p>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Recent Password</label>
                  <div class="input-group show_hide_password" >
                    <input class="form-control" type="password" id="recentChangePwd" name="recentChangePwd">
                    <div class="input-group-addon">
                      <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                    </div>
                    </input>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>New Password</label>
                  <div class="input-group show_hide_password" >
                    <input class="form-control" id="newChangePwd" name="newChangePwd" type="password">
                    <div class="input-group-addon">
                      <a href=""><i class="fa fa-eye-slash"  aria-hidden="true"></i></a>
                    </div>
                    </input>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Pre New Password</label>
                  <div class="input-group show_hide_password" >
                    <input class="form-control" id="newPreChangePwd" name="newPreChangePwd" type="password">
                    <div class="input-group-addon">
                      <a href=""><i class="fa fa-eye-slash"  aria-hidden="true"></i></a>
                    </div>
                    </input>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="btnChangePwd" class="btn btn-outline-primary">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</th:block>
