<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="footer">
    <textarea id="tempFooter" class="hide">
         <button type="button" class="btn btn-secondary update" title="Update" data-toggle="tooltip">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Update
        </button>
        <button type="button" class="btn btn-success detail" title="Detail" data-toggle="tooltip">
            <i class="fas fa-info-circle"></i>
            Details
        </button>
    </textarea>
</th:block>
