<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create A New Purchase Order Page</title>
    <!-- Meta -->
    <th:block th:replace="/head/meta :: meta"/>

    <!-- App favicon -->
    <th:block th:replace="/head/app-favicon :: app-favicon"/>

    <!-- Bootstrap Touch spin Css -->
    <th:block th:replace="/head/bootstrap-touchspin-css :: bootstrap-touchspin-css"/>

    <!-- DataTables -->
    <th:block th:replace="/head/data-tables :: data-tables"/>

    <!-- Responsive datatable examples -->
    <th:block th:replace="/head/responsive-datatable-examples :: responsive-datatable-examples"/>

    <!-- Main -->
    <th:block th:replace="/head/main :: main"/>

</head>

<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">

        <th:block th:replace="/layout/page-topbar :: page-topbar"/>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar="" class="h-100">

                <!--- Sidemenu -->
                <th:block th:replace="/layout/sidebar-menu :: sidebar-menu"/>

                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">Purchase Orders</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Purchase Orders</a></li>
                                        <li class="breadcrumb-item active">List</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row mb-2">
                                        <div class="col-sm-4">
                                            <div class="position-relative">
                                                <form>
                                                    <div class="row">

                                                        <div class="col-sm-7">
                                                            <input type="text" id="search" name="search" value=""
                                                                   class="form-control mb-3" placeholder="Search...">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="text-sm-right">
                                                <button type="button" id="btnShowCart" class="btn btn-primary btn-rounded right-bar-toggle waves-effect waves-light mb-2 mr-2">
                                                    <i class="fas fa-shopping-cart"></i>
                                                    Cart
                                                </button>
                                            </div>
                                        </div><!-- end col-->
                                    </div>

                                    <div class="table-responsive">
                                        <table id="tbListProducts" class="table table-centered table-nowrap table-hover text-center"
                                               role="grid" aria-describedby="datatable_info">

                                            <thead class="thead-light">
                                                <tr>
                                                    <th>#</th>
                                                    <th scope="col">Image</th>
                                                    <th scope="col">Title</th>
                                                    <th scope="col">Sku</th>
                                                    <th scope="col">Type</th>
                                                    <th scope="col">Price</th>
                                                    <th scope="col">Available</th>
                                                    <th scope="col">Quantity</th>
                                                    <th scope="col">Option</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->
    <div class="right-bar" >
        <div data-simplebar="" class="h-100">
            <div class="rightbar-title px-3 py-4">
                <a href="javascript:void(0);" class="right-bar-toggle float-right">
                    <i class="mdi mdi-close noti-icon"></i>
                </a>
                <h4 class="m-0">
                    <i class="fas fa-shopping-cart"></i>
                    Cart
                </h4>
            </div>

            <!-- Right Sidebar Content Start -->
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tbListCartItems" class="table table-centered mb-0 table-nowrap text-center">
                                <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th class="text-left">Product Name</th>
                                    <th>Sku</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="7" style="text-align: right;">
                                            <p style="font-size:medium">
                                                Total quantity: <strong id="totalQuantityCart" style="font-size:medium; text-align: right;"></strong>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" style="text-align: right;">
                                            <p style="font-size:medium">
                                                Total amount: <strong id="totalAmountCart" style="font-size:larger; text-align: right;"></strong>
                                            </p>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 px-4">
                                <a id="btnCheckOut" href="/purchase-orders/cart" class="btn btn-success">
                                    <i class="mdi mdi-cart-arrow-right mr-1"></i>
                                    Checkout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Sidebar Content End -->

        </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- END layout-wrapper -->

    <!-- JAVASCRIPT -->
    <th:block th:replace="/script/javascript :: javascript"/>

    <!-- Bootrstrap touchspin -->
    <th:block th:replace="/script/bootrstrap-touchspin-js :: bootrstrap-touchspin-js"/>

    <!-- Required datatable js -->
    <th:block th:replace="/script/required-datatable-js :: required-datatable-js"/>

    <!-- Responsive examples -->
    <th:block th:replace="/script/responsive-examples :: responsive-examples"/>

    <!-- Datatable init js -->
    <th:block th:replace="/script/datatable-init-js :: datatable-init-js"/>

    <!-- App js -->
    <th:block th:replace="/script/app-js :: app-js"/>

    <script>
        $( document ).ready(function() {
            // document.querySelector(".dataTables_filter").style.display = 'none';
            // document.querySelector(".pagination-rounded").style.display = 'none';

            // $("button.right-bar-toggle").on("click", () => {
            //     $("body").addClass("right-bar-enabled");
            // });
        });

        let product = new Product();
        let cart = new Cart();
        let cartItem = new CarIem();
        let user = new User();
        let situation = new Situation();
        let type = new Type();
        let cartPurchase = new CartPurchase();

        let productId;
        let cartItemId;

        let page = {
            url: {
                getAllProductsCanPurchase: App.BASER_URL + "/products/purchase",
                getProductById: App.BASER_URL + "/products/",

                getAllCartItems: App.BASER_URL + "/carts/cart-items/purchase",

                saveNew: App.BASER_URL + "/carts/create/purchase",
                delete: App.BASER_URL + "/carts/delete/",
                search: App.BASER_URL + "/products/search/"

            },
            elements: {
                role: {},
                userInfo: {
                    locationRegion: {}
                },

            },
            loadData: {},
            commands: {},
            dialogs: {
                elements: {},
                commands: {},
                alertDanger: {}
            },

            initializeControlEvent: {}
        }

        page.elements.tbListProducts = $('#tbListProducts');
        page.elements.tbListCartItems = $('#tbListCartItems');

        page.elements.btnAddCartIem = $('button.add-cart-item');
        page.elements.btnShowCart = $('#btnShowCart');
        page.elements.btnCheckOut = $('#btnCheckOut');

        page.elements.titleProduct = $('#tbListProducts .title');
        page.elements.priceProduct = $('#tbListProducts .price');
        page.elements.quantityPrdCart = $('.quantity');
        page.elements.totalPricePrdCart = $('.total-cart');
        page.elements.btnDeleteCartItem = $('.delete-cart-item');

        page.elements.search = $('#search');

        page.elements.totalAmountCart = $('#totalAmountCart');
        page.elements.totalQuantityCart = $('#totalQuantityCart');


        page.commands.addRowProduct = () =>{
            let str = App.getTempRowProductInCreatePurchaseOrder(product);
            $('#tbListProducts tbody').prepend(str);
        }

        page.commands.addRowCartItem = () =>{
            let str = App.getTempRowCartItemInCart(cartItem);
            $('#tbListCartItems tbody').prepend(str);
        }

        page.commands.clickRowProduct = () => {
            $("#tbListProducts tbody tr").on("click", function () {
                productId = $(this).attr('id').replace('tr_', '');

                $.ajax({
                    "headers": {
                        "accept" : "application/json",
                        "content-type": "application/json"
                    },
                    "type": "GET",
                    "url": page.url.getProductById + productId
                })
                .done((item) => {
                    product = item
                })

                $('#tbListProducts tbody tr td span.select-tab').removeClass("selected").addClass("unselected");
                $(`#tbListProducts tbody tr#tr_${productId} td span.select-tab`).removeClass("unselected").addClass("selected");

                page.commands.unbindAll();
            });

        }

        page.commands.clickRowCart = () => {
            $("#tbListCartItems tbody tr").on("click", function () {
                cartItemId = $(this).attr('id').replace('cart_tr_', '');

                // page.commands.unbindAll();
            });
        }

        page.loadData.loadProducts = () => {
            return $.ajax({
                "headers": {
                    "accept" : "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": page.url.getAllProductsCanPurchase
            })
            .done((data) => {
                $('#tbListProducts tbody').html('');

                $.each(data, (i, item) => {
                    product = item;
                    page.commands.addRowProduct();
                })

                page.commands.clickRowProduct();
            })
        }

        page.loadData.loadCartItems = () => {
            return $.ajax({
                "headers": {
                    "accept" : "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": page.url.getAllCartItems
            })
            .done((data) => {
                cart = data.cartDTO;

                page.elements.totalAmountCart.text('$'+cart.grandTotal);
                page.elements.totalQuantityCart.text(cart.quantityTotal);

                $('#tbListCartItems tbody').html('');
                $.each(data.cartItemDTO, (i, item) => {
                    cartItem = item;
                    page.commands.addRowCartItem();
                })

                page.commands.clickRowCart();
            })
        };

        page.commands.doRemoveCartItem = () => {
            let choice = confirm("Do you really wanna delete this cart item?");
            if (choice === true) {
                $.ajax({
                    "type": "POST",
                    "headers": {
                        'accept': 'application/json',
                        'content-Type': 'application/json'
                    },
                    "url": page.url.delete + cartItemId

                }).done((data) => {
                    cart = data;

                    $('#totalAmountCart').text(cart.grandTotal);
                    $("#cart_tr_" + cartItem.id).remove();

                    App.IziToast.showSuccessAlert("Delete cart item successful");

                }).fail( () => {
                    App.IziToast.showErrorAlert("Delete cart item failed");
                });
            }
        }

        page.commands.unbindAll = () => {
            $('.add-cart-item').off();
        }

        page.commands.doAddCartItem = () => {
            cartPurchase.userId = 1;
            cartPurchase.productId = productId;
            cartPurchase.quantity = $(`#tr_${productId} .quantity`).val();
            cartPurchase.typeId = 2;
            cartPurchase.unitId = 1;

            $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "POST",
                "url": page.url.saveNew,
                "data": JSON.stringify(cartPurchase)
            })
            .done((data) => {
                if (data.successFirst){
                    App.IziToast.showSuccessAlertBottom(data.successFirst);
                }
                App.IziToast.showSuccessAlertBottom(data.success);
            })
            .fail((jqxHR) => {
                if (jqxHR.status === 401) {
                    App.IziToast.showErrorAlertBottom(App.ERROR_401)
                } else {
                    if (jqxHR.status === 403) {
                        App.IziToast.showErrorAlertBottom(App.ERROR_403)
                    } else {
                        if (jqxHR.responseJSON.message) {
                            App.IziToast.showErrorAlertBottom(jqxHR.responseJSON.message)
                        }else if (jqxHR.responseJSON){
                            $.each(jqxHR.responseJSON, (key, item) => {
                                App.IziToast.showErrorAlertBottom(item)
                            })
                        }
                    }
                }
            })
        }

        page.commands.doSearch = () => {
            let keySearch = page.elements.search.val();

            if (keySearch === "") {
                page.loadData.loadProducts();
            }

            $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": page.url.search + keySearch,
            })
            .done((data) => {

                $('#tbListProducts tbody').html('');

                $.each(data, (i, item) => {
                    product = item;
                    page.commands.addRowProduct();
                })

                page.commands.clickRowProduct();
            })
        };


        page.initializeControlEvent = () => {

            page.elements.tbListProducts.on('click', 'button.add-cart-item',() => {
                page.commands.doAddCartItem();
            })

            page.elements.btnShowCart.on('click', () => {
                $("body").addClass("right-bar-enabled");

                page.loadData.loadCartItems();
            })

            page.elements.tbListCartItems.on('click', '.delete-cart-item', () => {
                page.commands.doRemoveCartItem();
            })

            page.elements.search.on('input', () => {
                page.commands.doSearch();
            })
        }

        $(function () {
            // $(".dataTables_filter").style.display = 'none';

            page.loadData.loadProducts().then(function (){
                page.commands.clickRowProduct();
            })

            page.initializeControlEvent();
        })


    </script>
</body>
</html>
